.footer{
    
.footer-links{
    display: grid;
    grid-template-columns: repeat( auto-fit , minmax(33vh , 1fr));
    background: #00000f;
    color: white;
    padding: 3rem 0;



    ul{
        display: flex;
        align-items: center;
        flex-direction: column;
        list-style: none;
        font-size: 1.5rem;
        font-weight: 900;
        margin-block: 2rem ;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        
        span{
            margin-bottom: 1rem;
            font-size: 2rem;
        }

        li{
            font-size: 1rem;
            font-weight: 600;
            padding-block: .5rem ;
            cursor: pointer;
            font-family: monospace;
            line-break: loose;
            text-align: center;

            &:hover,:active{
                color: rgb(114, 220, 255);
            }
            &:focus{
                outline: white solid 1px;
            }
        }
    }


}









}