.recommended{
    display: flex;
    position: relative;
    top: -10%;
    flex-direction: row;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    span{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 30rem;
        margin: auto;
        overflow: hidden;
        cursor: pointer;
        box-sizing: border-box;
        background: black;
        padding: 0 ;

        
        img{
            width: 100%;
            height: 100%;
            transition: transform .5s linear;
            opacity: .4;
            margin: 0;
        }

        p{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
            color: white;
            font-size: 2.5rem;
            z-index: 100;
            text-transform: uppercase;
            padding: 90rem;
            line-break: loose;
        }


        &:hover,:focus{
            & img{
                transform: scale(1.3);
            }
        }
        


    }
    
}