.secondary-slider{
    background: white;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem ;

i{
    position: absolute;
}

.secondary-slider-images{
    position: relative;

    span{
        height: 20rem;
        width: 25vh;
        overflow: hidden;
        position: absolute;
        img{
            width: 100%;
            height: max-content;
        }
    }
}


}