body{




    @media screen and (max-width:716px) {

        .top-slider .slider .images span{
            height: 60%;
        }

        .searchbar{
        }


        .navbar nav span{
            font-size: 1rem;
        }





        .recommended{
            flex-direction: column;
            top: -25%;
            span{
                width: 90%;
                margin-bottom: 1rem;
                
                p{
                    font-size: 2rem;
                }

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }



        .secondary-slider .secondary-slider-images{
    
            span{
                height: 50%;
                width: 33%;
            }
    
    
        }




    }
}