body {
  margin: 0;
  padding: 0;
  background: rgb(235, 235, 235);
  overflow-x: hidden;
}

.top-slider {
  display: block;
  position: relative;
  width: 100vw;
  margin: auto;
}
.top-slider .slider {
  position: relative;
}
.top-slider .slider .images {
  height: 60vh;
  position: relative;
  overflow: hidden;
}
.top-slider .slider .images span {
  position: absolute;
  width: 100vw;
  height: 60vh;
  background: url(../images/client-1.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  transition: transform 1s ease;
}
.top-slider .slider .counter {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 47%;
  left: 1.5%;
  z-index: 1000;
  opacity: 0.5;
}
.top-slider .slider .counter span {
  width: 0.8rem;
  height: 0.8rem;
  background-color: rgb(222, 222, 222);
  border-radius: 50%;
  margin-block: 0.15rem;
  transform-origin: left;
  transition: transform 1s linear;
}
.top-slider .slider .counter .active {
  opacity: 1;
  background: rgb(54, 191, 255);
}

.navbar {
  display: block;
  background-color: #1c1c2e;
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navbar nav span {
  flex-basis: 25%;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem 0 1rem 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  line-break: loose;
  transition: background 0.3s ease;
}
.navbar nav span:hover,
.navbar nav span :active {
  background: rgb(44, 227, 255);
}

.searchbar {
  display: flex;
  flex-direction: row;
  background: #00000f;
  padding: 1rem 0;
  align-items: center;
}

img {
  height: 3rem;
  margin-left: 1rem;
}

.searchbar .search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 2rem;
  width: 95%;
}
.searchbar .search #search-category {
  margin: 0;
  height: 3rem;
  width: max-content;
  border-radius: 0.5rem 0 0 0.5rem;
  text-align: center;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.searchbar .search .search-txt {
  height: 3rem;
  width: 50%;
  text-indent: 1rem;
  border: none;
  font-size: 1.2rem;
  color: gray;
}
.searchbar .search .search-txt:focus, .searchbar .search .search-txt :active {
  outline: none;
}
.searchbar .search i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 2.5rem;
  font-size: 2rem;
  background: rgb(44, 227, 255);
  border-radius: 0 0.5rem 0.5rem 0;
  text-align: center;
  color: white;
  cursor: pointer;
  padding-inline: 0.2rem;
}
.searchbar .search i:hover, .searchbar .search i :active {
  background: rgb(103, 197, 255);
}

.searchbar .fa-cart-shopping {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}
.searchbar .fa-cart-shopping:hover, .searchbar .fa-cart-shopping :active {
  color: rgb(44, 227, 255);
}

.recommended {
  display: flex;
  position: relative;
  top: -10%;
  flex-direction: row;
  align-items: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.recommended span {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30rem;
  margin: auto;
  overflow: hidden;
  cursor: pointer;
  box-sizing: border-box;
  background: black;
  padding: 0;
}
.recommended span img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s linear;
  opacity: 0.4;
  margin: 0;
}
.recommended span p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 2.5rem;
  z-index: 100;
  text-transform: uppercase;
  padding: 90rem;
  line-break: loose;
}
.recommended span:hover img, .recommended span :focus img {
  transform: scale(1.3);
}

.secondary-slider {
  background: white;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  margin-bottom: 20rem;
}
.secondary-slider span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2.5rem;
}
.secondary-slider i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.secondary-slider i:last-child {
  left: 100%;
  transform: translateX(-100%);
}
.secondary-slider .secondary-slider-images {
  position: relative;
  width: 100%;
  height: 40vh;
  margin-top: 2rem;
  overflow: auto;
}
.secondary-slider .secondary-slider-images span {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 20%;
  overflow: hidden;
  position: absolute;
}
.secondary-slider .secondary-slider-images span img {
  width: 100%;
  height: 100%;
  margin-right: auto;
  cursor: pointer;
}

.footer .footer-links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33vh, 1fr));
  background: #00000f;
  color: white;
  padding: 3rem 0;
}
.footer .footer-links ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 900;
  margin-block: 2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.footer .footer-links ul span {
  margin-bottom: 1rem;
  font-size: 2rem;
}
.footer .footer-links ul li {
  font-size: 1rem;
  font-weight: 600;
  padding-block: 0.5rem;
  cursor: pointer;
  font-family: monospace;
  line-break: loose;
  text-align: center;
}
.footer .footer-links ul li:hover, .footer .footer-links ul li :active {
  color: rgb(114, 220, 255);
}
.footer .footer-links ul li:focus {
  outline: white solid 1px;
}

@keyframes slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 940px) {
  body .searchbar .search #search-category {
    width: 20%;
  }
  body .recommended span {
    height: 20rem;
  }
  body .recommended span p {
    font-size: 1.5rem;
  }
  body .secondary-slider .secondary-slider-images span {
    height: 70%;
    width: 40%;
  }
}

@media screen and (max-width: 716px) {
  body .top-slider .slider .images span {
    height: 60%;
  }
  body .navbar nav span {
    font-size: 1rem;
  }
  body .recommended {
    flex-direction: column;
    top: -25%;
  }
  body .recommended span {
    width: 90%;
    margin-bottom: 1rem;
  }
  body .recommended span p {
    font-size: 2rem;
  }
  body .recommended span img {
    width: 100%;
    height: 100%;
  }
  body .secondary-slider .secondary-slider-images span {
    height: 50%;
    width: 33%;
  }
}

/*# sourceMappingURL=style.css.map */
