body{



    
    
    @media screen and (max-width:940px) {
        
        .recommended{
            span{
                height: 20rem;
                
                p{
                    font-size: 1.5rem;
                }
            }
        }

        
        .secondary-slider .secondary-slider-images{
    
            span{
                height: 70%;
                width: 40%;
            }
    
    
        }





    }


        








}
    